
/* header information - this will be used for every page */

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    z-index: 1;
}

.header-name{
    float: left;
    padding-left: 50px;
}

.header-contact{
    float: right;
    padding-right: 50px;
}

.header-portfolio{
    float: right;
}

.header-about{
    float: right;
}

/* style the actual content of each page */

.page-contents{
    position: relative;
    top: 75px;
    height: 500px;
    /*width: 100%;*/
    margin: 0 50px 0 50px;
    background-color: aqua;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    box-sizing: border-box;
}

hr{
    padding: 0 20px 0 20px;
}

p{
    margin-bottom: 20px;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    padding: 20px 0 20px 20px;
}

#profile-pic{
    float: left;
    margin: 20px 10px 20px 20px;
    width: 15%;
}

#about-me-text{
    margin: 20px 20px 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* float: left;
    width: 75%; */
    line-height: 1.5;
}





